@model TECMES.Models.OrdemProducao
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/_LayoutProducao.cshtml";
}


<div class="card">
    <div class="card-body">
        <h5 class="card-title"><strong>Configurar Ordem n° @Model.Id </strong></h5>
        <hr />
        <a class="btn btn-primary" asp-controller="Pedidos" asp-action="Faturamento"><i class="fa fa-arrow-left"></i> Voltar </a>
        <br />
        <br />

        <div class="row">
            <div class="col-md-12">
                <form asp-controller="OrdemProducao" asp-action="Faturar">

                    <div class="col">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                    </div>

                    <div class="form-row">

                        <div class="col-md-8">
                            <label asp-for="PedidoID" class="control-label"></label>
                            <select asp-for="PedidoID" readonly class="form-control" asp-items="ViewBag.PedidoID"></select>
                            <span asp-validation-for="PedidoID" class="text-danger"></span>
                        </div>

                        <div class="col-md-4">
                            <label asp-for="StatusID" class="control-label"></label>
                            <select asp-for="StatusID" class="form-control" readonly asp-items="ViewBag.StatusID"></select>
                            <span asp-validation-for="StatusID" class="text-danger"></span>
                        </div>

                    </div>

                    <br />

                    <div class="form-row">

                        <div class="col-md-4">
                            <label asp-for="pedido.Quantidade" class="control-label"></label>
                            <input asp-for="pedido.Quantidade" readonly class="form-control" />
                        </div>

                        <br />
                    </div>

                    <br />
                    <h6> Ordem </h6>
                    <hr />
                    <div class="form-row">
                        <div class="col-md-4">
                            <label asp-for="quantidade" class="control-label"></label>
                            <input asp-for="quantidade" readonly class="form-control" />
                            <span asp-validation-for="quantidade" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="ProdutoID" class="control-label"></label>
                            <select asp-for="ProdutoID" readonly class="form-control" asp-items="ViewBag.ProdutoID"></select>
                            <span asp-validation-for="ProdutoID" class="text-danger"></span>
                        </div>

                        <div class="col-md-4">
                            <label asp-for="MaquinaID" class="control-label"></label>
                            <select asp-for="MaquinaID" readonly class="form-control" asp-items="ViewBag.MaquinaID"></select>
                            <span asp-validation-for="MaquinaID" class="text-danger"></span>
                        </div>

                    </div>
                    <br />
                    <h6>Sequênciamento da Ordem</h6>
                    <hr />
                    <br />
                    <br />

                    <table class="table text-center table-hover table-responsive-lg">
                        <thead>
                            <tr>
                                <th>Seq. Numero</th>
                                <th>Produto</th>
                                <th>Quantidade</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.ListaSequencia as List<TECMES.Models.OrdemProducaoSequencia>)
                            {
                                <tr>
                                    <td><strong> @item.NumeroSequencia </strong></td>
                                    <td> @item.produto.Nome </td>
                                    <td> @item.Quantidade </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <br />

                    <div class="form-group">
                        <input type="submit" value="Faturar" class="btn btn-success btn-lg btn-block btn-primary" />
                    </div>

                </form>
            </div>
        </div>
    </div>


    @section Scripts {

        @if (!string.IsNullOrEmpty(ViewBag.Success))
        {

            <script type="text/javascript">
                toastr.success("@ViewBag.Success");

            </script>

        }
        else if (!string.IsNullOrEmpty(ViewBag.Error))
        {
            <script type="text/javascript">
                toastr.error("@ViewBag.Error");

            </script>
        }


    }

</div>


